*.iml
/frontend/.gradle
/frontend/local.properties
/frontend/.idea/workspace.xml
/frontend/.idea/libraries
*.DS_Store
/frontend/build
/frontend/captures
/frontend/.externalNativeBuild
/frontend/app/src/main/res/values/strings_secret.xml
/frontend/app/src/main/java/com/sidneynguyendev/lovetap/Secrets.java
/backend/node_modules
/backend/secrets.js
